{% extends 'basic.html' %}
{% load static %}
{% block pagetitle %}Best Product Finder{% endblock pagetitle %}

{% block pagestyle %}
{% comment %} Enter your extra style (ig - reveiw form style) here {% endcomment %}
body{
background-color:black;
}
{% endblock pagestyle %}

{% block extraheadspace %}
<meta property="og:title" content="Best Product Finder/Aboutus" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://bestproductfindr.herokuapp.com/AboutUs/" />
<meta property="og:image" content="https://bestproductfindr.herokuapp.com/static/media/common/img/mainlogo.png" />
<meta property="og:description" content="
We are First page of Our Kind
And here Why i am saying this.
1) 100%  Ad Free Blogs
2) All Category of products at one place
3) Not Filled with Unrelated things (Only To the point info)
4) You Will get Best of Best In your Budget
5) We focus Both Pro and Cons Equally
" />
{% endblock extraheadspace %}

{% block pagebody %}



<div class="container-lg container-md container-sm p-0">
  <video id="aboutvideo" class="embed-responsive embed-responsive-16by9" controls autoplay loop>
    <source src="{% static '/media/aboutus/video/aboutusclip.mp4' %}" type="video/mp4">
  </video>
</div>
<!-- //who we are ,our mission details starts here  -->
<div class="container mt-3 container-sm p-0">
  <div class="accordion bg-dark text-white" id="accordionPanelsStayOpenExample">
    <div class="accordion-item bg-dark">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button bg-warning text-white fw-bold fs-4" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Who we are... <img src="https://img.icons8.com/material-outlined/30/000000/thinking-bubble.png" />
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong>Best Product finder</strong> is made to provide you a list of best products/services (of all category)
          with full specifications, User reviews, both positive and negative points about the product/service and also
          the lowest price seller of that product in the market so whenever you have to buy something then you open the
          website select the product category and price(if applicable) and you will get the idea which is the best
          product for you.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed text-center bg-danger text-white fw-bold fs-4" type="button"
          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo">
          Our mission&nbsp;<img src="https://img.icons8.com/ios/30/000000/goal.png" />
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          We are working to develop a <strong>Organised online platform</strong> where you can find <strong>Best things
            list</strong> across all the categories and price ranges...it may be a <strong>Laptop</strong> that you need
          for college or may be a <strong>Mobile</strong> that you need for gaming or may be an <strong>Camera</strong>
          to follow your passion ,or may be the <strong>Best Broker</strong> to start your investment with, or may be a
          <strong>good battery life Trimmer</strong> in your price range or may be an <strong>best horror movie</strong>
          (hindi dubbed) that you enjoy with your group ......the <strong>list goes onn..</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //who we are ,our mission details ends here  -->

<!-- 5 point that make us unique starts here  -->
<div class="container-fluid my-4">
  <p class="text-white fs-2 text-center fw-bold">5 points That makes Us Unique and usefull.</p>
  <ol class="list-group list-group-numbered bg-dark text-white border border-2 border-danger">
    <li class="list-group-item bg-dark text-white fs-5 py-4">We know When you are <strong>searching for a
        product</strong>.How <strong><code>Annoying</code></strong> it is to
      <strong><code>handle tonsss of  Unnessary Ads</code></strong> on Blog pages.That's why we decided to
      <strong><code>remain 100% Ads free</code></strong> to provide you Best and <code>smooth Experiance</code>
    </li>
    <li class="list-group-item bg-success bg-opacity-10 text-white fs-5 py-4">Every Website can tell you <strong>Specifications of a
        product</strong> but the <strong><code>most important thing</code></strong> for a product is
      <strong><code>Its user Reveiw</code></strong>. So here We came up with a
      <strong><code>Unique feature</code></strong> of
      <strong><code>3 Users positive and 3 users negative review</code></strong>.So that you can take a
      <strong><code>clear & Unbiased</code></strong>decision.
    </li>
    <li class="list-group-item bg-dark text-white fs-5 py-4">You might face a situation that when you are reading
      <strong><code>any other top product list blog</code></strong> and then you
      <strong><code>Suddenly see its last updated few years ago</code></strong> which might not provide you correct
      scenario of tadays market...<br>hence we <strong><code>keep updating our website</code></strong> & and our top
      products lists <strong><code>very frequently</code></strong> to make sure that <stong>
        <code>you will never miss the best product.</code>
      </stong>
    </li>
    <li class="list-group-item bg-success bg-opacity-10 text-white fs-5 py-4">We belive that
      <strong><code>knowing CONS is as important as PROS</code></strong> so here we provide you
      <strong><code>both pro and cons chart</code></strong> of a product/service along with the
      <strong><code>Youtube review/unboxing/comparision links.</code></strong> Such that you can also have the
      <strong><code>real feel</code></strong> of having that product or service
    </li>
    <li class="list-group-item bg-dark text-white fs-5 py-4">we know, that one of the most import factor for a
      product/service is <strong><code>It's Pricing.</code></strong> So once again We
      <strong><code>Simplified</code></strong> it for you by providing the
      <strong><code>Lowest price seller/provider</code></strong> of that product/service .So that you do not have to
      <strong><code>Visit Multiple websites to compare prices.</code></strong>
    </li>
  </ol>
</div>
<!-- 5 point that make us unique ends here  -->

<!-- Our core team starts here  -->
<div class="container-fluid">
  <div class="text-center fs-2 bg-light fw-bold">Our Team &nbsp;<img src="https://img.icons8.com/external-sbts2018-flat-sbts2018/45/000000/external-team-work-from-home-sbts2018-flat-sbts2018.png"/></div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
    <div class="col mx-auto p-lg-2 p-md-2 p-sm-1">
      <div class="card text-center" style="background-color: #fbfbb5;">
        <div class="d-flex justify-content-center">
        <img src="{% static '/media/aboutus/img/abhijitpic.png' %}" width="150" height="150" class="rounded-circle shadow" alt="Abhijit kumar">
      </div>
        <div class="card-body">
          <h4 class="card-title mb-1">Abhjit Kumar</h4>
          <h5 class="fw-bold text-danger font-monospace">Developer</h5>
          <hr>
          <p class="card-text">B-Tech | NIT Durgapur</p>
          <div class="btn-group">
            <a href="https://www.instagram.com/abhijit_jha_108/" class="btn" target="_blank"><img src="https://img.icons8.com/fluency/40/000000/linkedin.png" class="img-fluid"/></a>
            <a href="https://github.com/itstechaj" class="btn" target="_blank"><img src="https://img.icons8.com/material-outlined/40/000000/github.png" class="img-fluid"/></a>
            <a href="https://www.instagram.com/abhijit_jha_108/" class="btn" target="_blank"><img src="https://img.icons8.com/fluency/40/000000/instagram-new.png" class="img-fluid"/></a>
            <a href="https://www.instagram.com/abhijit_jha_108/" class="btn" target="_blank"><img src="https://img.icons8.com/fluency/40/000000/facebook-new.png" class="img-fluid"/></a>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="col p-lg-2 p-md-2 p-sm-1">
      <div class="card text-center" style="background-color: #c5ffc5;">
        <div class="d-flex justify-content-center">
        <img src="{% static '/media/aboutus/img/ratneshpic.png'%}" width="150" height="150" class="rounded-circle shadow" alt="Ratnesh kumar">
      </div>
        <div class="card-body">
          <h4 class="card-title mb-1">Ratnesh Kumar</h4>
          <h5 class="fw-bold text-danger font-monospace">Developer</h5>
          <hr>
          <p class="card-text">B-Tech | NIT Warangal</p>
          <div class="btn-group">
            <a href="https://instagram.com/thisisratnesh?utm_medium=copy_link" class="btn" tareget="_blank"><img src="https://img.icons8.com/fluency/40/000000/linkedin.png"/></a>
            <a href="https://github.com/thisisratnesh" class="btn" tareget="_blank"><img src="https://img.icons8.com/material-outlined/40/000000/github.png"/></a>
            <a href="https://instagram.com/thisisratnesh?utm_medium=copy_link" class="btn" tareget="_blank"><img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/></a>
            <a href="https://instagram.com/thisisratnesh?utm_medium=copy_link" class="btn" tareget="_blank"><img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-lg-2 p-md-2 p-sm-1">
      <div class="card text-center" style="background-color: #fbfbb5;">
        <div class="d-flex justify-content-center">
        <img src="{% static '/media/aboutus/img/adityapic.png' %}" width="150" height="150" class="rounded-circle shadow" alt="Aditya kumar">
      </div>
        <div class="card-body">
          <h4 class="card-title mb-1">Aditya Kumar</h4>
          <h5 class="fw-bold text-danger font-monospace">Developer</h5>
          <hr>
          <p class="card-text">B-Tech | HIT Kolkata</p>
          <div class="btn-group">
            <a href="https://instagram.com/thisisratnesh?utm_medium=copy_link" class="btn" target="_blank"><img src="https://img.icons8.com/fluency/40/000000/linkedin.png"/></a>
            <a href="https://github.com/adityait019" class="btn" target="_blank"><img src="https://img.icons8.com/material-outlined/40/000000/github.png"/></a>
            <a href="https://instagram.com/adityaraman007?utm_medium=copy_link" class="btn" target="_blank"><img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/></a>
            <a href="https://instagram.com/adityaraman007?utm_medium=copy_link" class="btn" target="_blank"><img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/></a>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
</div>
<!-- Our core team Ends here  -->

{% endblock pagebody %}